*{
    background-color:lightskyblue;
    margin:0 auto;
}
.center{
    margin:0 auto;
}
form {
    padding-top: 10px;
    text-align: center;
    color:#000;
    border:2px solid #000;
}

textarea{
    background-color: #fff;
}
input{
    background-color: #fff;
}
button{
    padding-bottom: 2px;
    background-color: #fff;
}
.profilePage{
    margin-top:10px;
}
#categories{
    background-color: #fff;
    margin-left:10px;
}
#due-date{
    margin-left: 10px;
}
table, tbody, td{

    color: maroon;
    margin: auto;
    box-sizing: border-box;
}
#table_head{
    border: 2px solid orange;
    background-color: GRAY;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS';
}
#filter_by_categories{
    background-color: #fff;
    margin-left:10px;
}
#office{
    background-color: #fff;
}
#personal{
    background-color: #fff;
}
#select {
    background-color: #fff;
}
#female{
    background-color: #fff;
}
#male{
    background-color: #fff;
}
#gender{
    background-color: #fff;
}
#signup{
    background-color: floralwhite;
    border-radius: 9px;
    margin-top:10px;
    float :right ;
    margin-right:12px;
}
header{
    color: darkblue;
    font-size: 18px;
}
#logo{
    margin-left: 10px;
    color: blue;
}
#pending{
    background-color: #fff;
}
#status_filter{
    background-color:#fff;
}
.profile{
    float: right;
    margin-top:10px;
    margin-right: 10px;
}
#fname:disabled, #lname:disabled, #radio:disabled, #radio1:disabled, #address:disabled{
    background-color: #fedcba;
}
#Done{
    background-color: #fff;
}
#status{
    background-color: #fff;
}
#category{
background-color: #fff;
}
#edit_button{
    background-color: lightcoral;
    border-radius: 9px;
}
#save_button{
    background-color: lightgreen;
    border-radius: 9px;
}
#delete{
    background-color: lightcoral;
    border-radius: 9px;
}
#add{
    background-color: lightgreen;
    border-radius: 9px;
}
#todo{
    background-color: floralwhite;
    border-radius: 9px;
}
#todo_button{
    background-color: floralwhite;
    border-radius: 9px;
}
.button_registration, .button_login, .profile{
    background-color: floralwhite;
    border-radius: 9px;
}
#reset{
    background-color: floralwhite;
        border-radius: 9px;
}
td{
    vertical-align: middle;
    text-align: center;
    border:1px solid #000;
    height:29px;
}
